html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    background: linear-gradient(120deg, #B3E5FC, #0277BD);
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.25);
    padding: 5vh;
    box-shadow: 0px 0px 5px 1px #BBDEFB;
    transition: box-shadow 0.2s ease-in-out;
}

.container:hover {
    box-shadow: 0px 0px 20px 10px #BBDEFB;
}

h1.active {
    transform: rotate(360deg);
    transition: transform 0.5s;
}

footer {
    text-align: center;
    border-top: 1px solid darkblue;
    padding-top: 1.5vh;
    position: absolute;
    bottom: 1em;
    width: 100%;
}
